
/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    scroll-behavior: smooth;
}

/* CSS RESET END */
a {
    text-decoration: none;
}
a:active {
    color: blue;
}

/* Colors */
:root {
    --main-bg-color: #020713;
    --main-text-color: white;
    --hover-text-color: #0f4c81;
    --header-bg-color: rgb(82,94,101,0.2);
}
/* Colors end */

/* Mobile View */

.iconify {
    color: white;
}
body {
    background-color: var(--main-bg-color);
    background-image: url(Images/background-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}


/* header { 
    color: var(--main-text-color);
    height: 40px;
} */


nav {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* overflow: hidden; */
    /* position: fixed; */
    top: 0;
    width: 100%;
}



/* header nav {
    display: flex;
    
    justify-content: center;
    position: fixed;
    
} */


header nav ul {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    list-style: none;
    position:fixed ;
    
    
}
header nav ul li a {
    text-align: center;
    display: flex;
    color: var(--main-text-color);
    text-decoration: none;
    font-family: 'Josefin Sans',sans-serif;
    margin: 0 20px 0 0;
    padding-top: 13px;
}


.main-page {
text-align: center;
   min-height: 500px;
    background-image: url(Images/background-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #020713;
    color: var(--main-text-color);
    
}



.self-port {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.main-page .self-port img {
    width: 100px;
    height: 105px;
    border-radius: 50%;
}


.title {
    position: relative;
    text-align: center;
    top: 43px;
    font-size: 30px;
    
}

.title h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-style: semi-bold;
}

.title h2 {
    position: relative;
    bottom: 6px;
    font-family: 'Josefin Sans';
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
}


.intro-text {
    position: relative;
    text-align: center;
    top: 40px;
}

.intro-text p {
    font-size: 19.2px;
    padding: 20px;
    line-height: 30px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    color: var(--main-text-color);
}

#webDeveloper {
    color: lightcyan;
    
}

#city {
    color: lightcyan;
}

#more-button {
    position: relative;
    top: 125px;
    /* border: solid white 1px; */
    padding: 15px 25px;
    color: white;
    font-family: 'Josefine Sans', sans-serif;
    font-weight: 400;
    font-size: regular;
    
}








/* Projects section start */



/* .projects {
    min-height: 500px;
    text-align: center;
    position: relative;
    top: 200px;
    background-image: url(Images/background-2.png);
    background-attachment: fixed;
    background-size: cover;
} */


.projects {
    /* display: flex; */
    /* flex-direction: column; */
    position: relative;
    top: 450px;
   text-align: center;
   padding: 20px;

}

.projects h3 {
    font-family: 'Josefine Sans',sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
    position: relative;
    top: 20px;
    color: white;

}

.projects .iconify {
    height: 120px;
    width: 120px;
    color: white;
}

.projects h1 {
    color: white;
    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 40px;
    font-style: normal;
    cursor: pointer;
    
}

 hr {
    width: 50px;
    border: solid var(--hover-text-color) 1px;
}


.project-1 {
    position: relative;
    top: 20px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    max-width: 500px;
    background: var(--header-bg-color);
    /* transition: background 1s; */
    cursor: pointer;
}

/* .project-1:hover {
    background: lightcyan;
} */

.project-2 {
   position: relative;
   top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    max-width: 500px;
    background: var(--header-bg-color);
}





/* Projects section end */







/* About Me Section */
.about-me {
    min-height: 500px;
    text-align: center;
    position: relative;
    top: 850px;
    background-image: url(Images/background-2.png);
    background-attachment: fixed;
    background-size: cover;
}



.about-me .iconify {
    height: 120px;
    width: 120px;
}




.about-me h1 {
    color: white;
    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 40px;
    font-style: normal;
    cursor: pointer;
}
.about-me-img .iconify {
    height: 90px;
    position: relative;
    top: 30px; 
    cursor: pointer;
}

.about-me p {
    position: relative;
    top: 50px;
    font-size: 19.2px;
    padding: 20px;
    line-height: 30px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    color: var(--main-text-color);
}


/* About me section end */




/* Footer */
/* footer {
    background-image: url(/assets/);
    background-color: none;
    width: 100%;
    height: 300px;
    color: white;
    border: solid red 2px;
    position: absolute;
    top: 100%;
} */



#site-footer{
    background-attachment: fixed;
    background-size: cover;
    background-image: url(Images/background-2.png);
    position: relative;
    top: 200px;
    padding: 2em 0;
    height: 100vh;
    min-height: 34em;
    text-align: center;
    

}

#site-footer img {
    position: relative;
    top: 100px;
}

#site-footer p {
    color: darkgray;
}

.social {
    
    min-height: 500px;
    text-align: center;
}


.social a {
    position: relative;
    top: 180px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: white;

}





.social-link {
    display: flex;
   justify-content: space-evenly;
    position: relative;
    top: 300px;
    
    text-align: center;
    align-items: center;
    
}



.social-link .iconify {
    height: 40px;
    width: 40px;
    
}

.social-link a {
    /* text-decoration: none; */
    color: white;
    
}


/* Footer end */


/* Mobile View End */





/* Media queries */

/* Ipads,Tablets */

@media screen and (min-width: 700px) {


body {
    padding: 150px;
}

    header {
        font-size: 30px;
        background: none;
    }

   

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-page img {
    height: 150px;
    width: 150px;
}

   .main-page h1 {
       font-size: 50px;
   }

   .main-page h2 {
       font-size: 40px;
   }

   .main-page p,
   .about-me p {
       font-size: 30px;
       /* max-width: 500px; */
       line-height: 50px;
       padding-top: 50px;
   }


   
   .self-port {
       height: 150px;
       widows: 150px;
   }


#more-button {
    font-size: 32px;
    padding: 40px;
}


.projects {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.projects h1,
.about-me h1 {
    font-size: 40px;
}
.project-1,
.project-2 {
   min-width: 700px;
}


.about-me {
    display: flex;
    flex-direction: column;
    text-align: center;
}



}


/* Desktop media queries */

@media screen and (min-width: 1500px) {
  .intro-text {
      width: 650px;
  }
}